

	<section>

		<div class="container">
		
			<div class="row">
			
				
				
				
				  <div class="form-group">
					<label for="exampleInputEmail1">Product Name</label>
					<input type="email" class="form-control" id="exampleInputEmail1"
						name="name"
							ng-model="prod.name" readonly="readonly">
							
							
				  </div>
				  <div class="form-group">
					<label for="exampleInputPassword1">Product Description</label>
					<textarea ng-model="prod.description" class="form-control" id="exampleInputPassword1" name="description" readonly="readonly"></textarea>
				  </div>

				
				
			
			</div>
		
		</div>

	</section>

